.navbar-default {
    position: fixed;
    width: 100%;
    margin: 0 0 405px 0;
}

.sidebar-nav {
    overflow-y: auto;
    position: fixed;
    bottom: 0;
    top: 51px;
    width: 250px;
    max-height: 100% !important;
}

@media(min-width:768px) {
    #page-wrapper {
        padding: 42px 30px 0 30px;
    }
}

.align-center {
    text-align: center !important;
}

.align-middle {
    vertical-align: middle !important;
}

.align-left {
    text-align: left !important;
}

.align-right {
    text-align: right !important;
}


#form-login ul {
    padding-left: 15px;
}

.thunder-grid {
    min-height: auto;
}

.thunder-grid-content .table {
    margin-bottom: 15px;
}

.thunder-grid-content .alert {
    margin-bottom: 0;
}

.form-control.disabled {
    background-color: #eee;
    opacity: 1;
}

.clear-margin-bottom {
    margin-bottom: 0;
}