<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Seja bem-vindo @User.Identity.Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p>
            O Xerneas Template foi desenvolvido por <a href="https://github.com/adrianocaldeira" target="_blank">Adriano Caldeira</a> com a finalidade de ajudar no "start" de um projeto que necessite de funcionalidades como, permissão de acesso, controle de usuário, controle de perfil de usuário e gerenciamento de módulos de um sistema.
        </p>
        <p>
            Atualmente o Xerneas Template possui as seguintes dependências:
            <ul>
                <li>
                    .Net
                    <ul>
                        <li>ASP.NET MVC 5.2.3</li>
                        <li>Thunder.Web.Mvc 1.5.5</li>
                        <li>Thunder.NHibernate 1.0.8</li>
                    </ul>
                </li>
                <li>
                    Banco de dados
                    <ul>
                        <li>Microsoft Sql Server</li>
                        <li>MySQL</li>
                        <li>
                            FireBird
                        </li>
                        <li>
                            Microsoft Sql Server
                        </li>
                        <li>
                            MySql
                        </li>
                        <li>
                            Oracle
                        </li>
                        <li>
                            PostgreSQL
                        </li>
                        <li>
                            SQLite
                        </li>
                        <li>
                            SybaseASE
                        <li>
                            SybaseSQLAnywhere
                        </li>
                    </ul>
                </li>   
                <li>
                    Template
                    <ul>
                        <li>SbAdmin2</li>
                    </ul>
                </li>
                <li>
                    JavaScript
                    <ul>
                        <li>jquery-2.2.0.js</li>
                        <li>jquery-ui-1.11.4.js</li>
                        <li>bootstrap.js</li>
                        <li>bootstrap-switch.js</li>
                        <li>jquery.nestable.js</li>
                        <li>select2.js</li>
                        <li>thunderjs-1.1.6.js</li>
                        <li>icheck.js</li>
                        <li>handlebars-v2.0.0.js</li>
                    </ul>
                </li>
            </ul>
        </p>
        <p>
            <strong>
                Para acompanhar ou colaborar com o projeto acesse o github do projeto clicando <a href="https://github.com/adrianocaldeira/xerneas-template" target="_blank">aqui</a>.
            </strong>
        </p>
    </div>
</div>
